/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
}

.action-btn {
  i {
    margin: 5px;
  }
}
.add-btn {
  text-align: right;
  margin: 8px;
}
